<section class="section-contact section" id="contact-us">
  <div class="container">
    <h2 class="contact-title">Contact Us</h2>
    <div class="contact-inner">
      <div class="contact-form-wrapper">
        <p class="contact-form-title">
          Please use the form below to contact us. Enter your name, email,
          phone, and message and we'll get back to you shortly.
        </p>

        <form class="contact-form">
          <div class="contact-form-inner">
            <input
              class="contact-input"
              type="text"
              name="user_name"
              aria-label="Name"
              placeholder="Name"
              required
            />

            <div class="input-wrapper">
              <input
                class="contact-input"
                type="email"
                name="user_email"
                aria-label="Email"
                placeholder="Email"
                required
              />
              <span class="validation-icon">❌</span>
            </div>

            <input
              class="contact-input"
              type="tel"
              name="user_tel"
              aria-label="Phone"
              placeholder="+380"
              required
            />

            <textarea
              class="contact-comment"
              name="user_comment"
              placeholder="Comment"
              aria-label="Comment"
            ></textarea>
          </div>

          <button class="contact-btn" type="submit">Send</button>
        </form>
      </div>

      <div class="contact-image-wrapper">
        <img
          src="/img/contact-img.jpg"
          alt="contact"
          width="530"
          height="556"
        />
      </div>
    </div>
  </div>
</section>
