<footer id="footer">
  <div class="container">
    <a href="./index.html">watchcharm</a>
    <ul>
      <li>
        <a
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >F</a
        >
      </li>
      <li>
        <a
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >I</a
        >
      </li>
      <li>
        <a
          href="https://youtube.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Y</a
        >
      </li>
    </ul>

    <p>
      Have the time of your life with our watches: where high-class
      craftsmanship meets impeccable design
    </p>

    <a href="tel:+380684439426">+380 (68) 443-94-26</a>

    <nav>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="#about-us">About Us</a></li>
        <li><a href="#catalog">Catalog</a></li>
        <li><a href="#sale">Sale</a></li>
        <li><a href="#reviews">Reviews</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
      </ul>
    </nav>

    <address>
      <a
        href="https://maps.app.goo.gl/4uxzXLoGroXd36Ty5"
        target="_blank"
        rel="noopener noreferrer nofollow"
        >1678 S. Pioneer Road Salt Lake City UT 84104</a
      >
    </address>

    <p>©2023 The Watch Spot. All rights reserved.</p>

    <a href="">Terms of Service</a>
    <a href="">Privacy Policy</a>
  </div>
</footer>
