<header class="page-header" id="header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html">watchcharm</a>

    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link" href="./index.html">Home</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#about-us">About Us</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#sale">Sale</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#reviews">Reviews</a>
        </li>
        <li class="header-nav-item">
          <a class="header-nav-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </nav>

    <ul class="header-social-list">
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://facebook.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >F</a
        >
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >I</a
        >
      </li>
      <li class="header-social-item">
        <a
          class="header-social-link"
          href="https://youtube.com"
          target="_blank"
          rel="noopener noreferrer nofollow"
          >Y</a
        >
      </li>
    </ul>
  </div>
</header>
