<section class="hero-section" id="hero">
  <div class="container hero-container">
    <div class="hero-top">
      <div class="hero-content">
        <h1 class="hero-title">
          Welcome to our
          <span class="hero-title-accent">collection</span> of premium watches
        </h1>
        <p class="hero-subtitle">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>

      <div class="hero-right">
        <ul class="hero-reviews-list">
          <li class="hero-reviews-item">
            <img
              class="hero-reviews-img"
              src="/img/reviews-1.jpg"
              alt="reviews-1"
              width="60"
              height="60"
            />
          </li>
          <li class="hero-reviews-item">
            <img
              class="hero-reviews-img"
              src="/img/reviews-2.jpg"
              alt="reviews-2"
              width="60"
              height="60"
            />
          </li>
          <li class="hero-reviews-item">
            <img
              class="hero-reviews-img"
              src="/img/reviews-3.jpg"
              alt="reviews-3"
              width="60"
              height="60"
            />
          </li>
        </ul>

        <a class="hero-scroll-down" href="#footer">Scroll down</a>
      </div>
    </div>

    <div class="hero-main-img-thumb">
      <img
        class="hero-main-img"
        src="/img/hero.jpg"
        alt="hero"
        width="1150"
        height="500"
      />
    </div>
  </div>
</section>
