:root {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-ff);
  font-size: 16px;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbfb;
}

.hidden {
  display: none;
}

.section {
  padding: 30px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 40px 0;
  }
}

@media screen and (min-width: 1180px) {
  .section {
    padding: 50px 0;
  }
}
