.backdrop {
  position: fixed;
  inset: 0;

  background-color: #3b3f7379;
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms ease-in-out,
    visibility 250ms ease-in-out;
}

.modal {
  position: relative;
  transform: translateY(-100%);
  transition: transform 250ms ease-in-out;
}

.backdrop.is-open .modal {
  transform: translateY(0);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-close {
  position: absolute;
  top: 22px;
  right: 28px;
  width: 24px;
  height: 24px;
  background-color: transparent;
}
